/*** defined tags ***/
#Pong_playerArea{
    display: flex;
    width: 500px;
}

#Pong_container2{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

#Pong_title{
    text-align: center;

}
/*** User classes ***/

.Pong_mainContainer{
    font-size: 2.5rem;
    text-align: center;
    padding: 5px;
    height: 65vh;
    width: auto;
    aspect-ratio: 1/1;
    background-color: whitesmoke;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 250px;
}

.Pong_subContainer{
    height: 60vh;
    aspect-ratio: 1/1;
    width: auto;
    display: block;
    justify-content: center;
    background-color: black;
    opacity: 10%;
    margin-left: auto;
    margin-right: auto;
}

.Pong_subContainer:hover{   
    height: 60vh;
    aspect-ratio: 1/1;
    width: auto;
    background-color: white;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    opacity: 100%;
}

.Pong_startButton{
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.Pong_Player{
    width: 500px;
}

@media (max-width: 900px ) or (pointer: coarse){
    .Pong_mainContainer{
        font-size: 1rem;
        width: 80vw;
        height: auto;
        aspect-ratio: 3/5;
    }
    
    .Pong_subContainer{
        padding: 5px;
        width: 60vw;
        aspect-ratio: 1/1;
    }
    
    .Pong_subContainer:hover{   
        padding: 5px;
        width: 60vw;
        aspect-ratio: 1/1;
    }
}