/* IDs */
#blackjack{
    padding-top: 150px;
    background: linear-gradient(360deg, #e5de00 47.75%, #7BB4E3 59.21%);
    background-blend-mode: screen;
    overflow: hidden;
    min-height: calc(100vh - 150px);
}

#blackjack_welcome{
    justify-content: center;
    margin: auto;
}

#blackjack_playarea{
    margin-top: 40px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    height: 70vh;
    aspect-ratio: 2/1;
    background-color: black;
}

#blackjack_playareaSub{
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    height: 65vh;
    aspect-ratio: 2/1;
    background-color: green;
}

/* Classnames */
@media (max-width: 900px ) or (pointer: coarse){
    #blackjack{
        padding-top: 100px;
        min-height: calc(100vh - 100px);
    }
    #blackjack_playarea{
        margin-top: 40px;
        aspect-ratio: 6/5;
    }
    #blackjack_playareaSub{
        aspect-ratio: 6/5;
    }
}