#about {
    background: url("../assets/pictures/Backgroundmain.jpeg");
    background-size: cover;
    overflow: hidden;
    padding-top: 10vh;
    padding-left: calc(5vw + 10px);
    padding-right: calc(5vw + 10px)
    
    
}
#about_welcome{
    padding-top: 10vh;
}
#about_me{
    text-align: left;
}

#about_me0{
    height: 400px;
    border-radius: 100%;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}
#about_grad{
    border-radius: 20px;
}
.about_font{
    font: italic calc(2vw + 0.5em) "Fira Sans", serif;
    color: white;
}

.about_container{
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    justify-content: center;
    margin: auto;
}
.about_row{
    flex: 25%;
    padding-left: 10px;
    padding-right: 10px;
    float: left;
}
.about_polaroid{
    background-color: white;
    height: auto;
    padding-bottom: 100px;
    margin-bottom: 110px;
    padding: 10px;
}

.about_container ul li{
    list-style-type: none;
    font: italic 2rem "Fira Sans", serif;

}

.about_container ul li img{
    height: 640px;
    width: 480px;
}