#about{
    background: url('../assets/pictures/Backgroundmain.jpg');
    background-size: cover;
    overflow: hidden;
    height: auto;
    min-height: 100vh;
    padding-top: 150px;
    padding-bottom: 20px;
}

#about_me0{
    height: 640px;
    width: 480px;
    border-radius: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

#about_grad{
    height: 60vh;
    aspect-ratio: 2/3;
    border-radius: 20px;
    border-style: solid;
    border-width: 2px;
    margin-bottom: 10px;
    display: block;
    justify-content: center;
    margin: auto;
}

#about_city{
    height: 60vh;
    aspect-ratio: 2/3;
    border-radius: 20px;
    border-style: solid;
    border-width: 2px;
    margin-bottom: 10px;
    display: block;
    justify-content: center;
    margin: auto;
}

#about_Item{
    list-style-type: none;
    width: 100%;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
    
}

.about_generalFont{
    font: italic 5vh "Fira Sans", serif;
    color: white;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
}

.about_aboutMe{
    list-style: none;
}

.about_aboutWork{
    list-style: none;
    justify-content: center;
    margin: auto;
    display: block;
}

.about_polaroid{
    justify-content: center;
    aspect-ratio: 2/3;
    height: 75vh;
    background-color: white;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 30px;
    border-radius: 50px;
}

.about_polaroid1{
    justify-content: center;
    margin: auto;
    height: 50vh;
    width: 20%;
    background: white;
    
}
.about_workPlaces{
    aspect-ratio: 1/1;
    height: 30vh;
}
.about_polaroidText{
    text-align: center;
}

.about_workNames{
    text-align: center;
    font-size: 2.75vh;
}

.about_workNameJob{
    text-align: center;
    font-size: 1.5vh;
}

@media (pointer:none), (pointer:coarse)  {
    #about_me0{
        width: 70vw;
        height: 50vh;
        aspect-ratio: 1/2;
    }
    
    #about_grad{
        width: 70vw;
        height: 50vh;
        aspect-ratio: 1/2;
    }
    #about_city{
        width: 70vw;
        height: 50vh;
        aspect-ratio: 1/2;
    }
    
    #about_Item{
        list-style-type: none;
        width: 100%;
        justify-content: center;
        margin-top: 30px;
        margin-bottom: 30px;
        
    }
    
    .about_generalFont{
        font: italic 3vh "Fira Sans", serif;
        color: white;
        text-align: center;
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .about_aboutMe{
        list-style: none;
    }
    
    .about_aboutWork{
        list-style: none;
        justify-content: center;
        margin: auto;
        display: block;
    }
    .about_polaroid{
        height: 60vh;
        border-radius: 20px;

    }
    .about_polaroid1{
        justify-content: center;
        margin: auto;
        height: 50vh;
        width:50%;
        background: white;
    }
    .about_workPlaces{
        aspect-ratio: 1/1;
        height: 30vh;
    }
    .about_workNames{
        font-size: 5vw;
    }
    .about_workNameJob{
        font-size: 3.5vw;
    }
}