#projects{
    padding-top: 150px;
    background: linear-gradient(360deg, #e5de00 47.75%, #7BB4E3 59.21%);
    background-blend-mode: screen;
    overflow: hidden;
}

#projects_carousel{
    height: auto;
    margin-bottom: 10vh;
}

.projects_Video{
    aspect-ratio: 1/1;
    display: block;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    height: 55vh;
    width: 100%;
    border-radius: 20px;
    margin-bottom: 10px;
}

#projects_ProjectsList{
    display: inline-block;
    margin: auto;
    list-style-type: none;
    width: 80%;
}

.projects_projectImage{
    aspect-ratio: 1/1;
    width: 30vh;
    height: 30vh;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 10px;
    margin-bottom: 30px;
}

#projects_ProjectItem{
    margin-top: 200px;
}

.projects_projectName{
    padding-bottom: 30px;
    font-size: 2.5vh;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: gray;
}

.projects_projectDiv{
    list-style-type: none;
    background-color: white;
    height: 70vh;
    width: 35vw;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 3vh;
    border-radius: 20px;
}

.projects_generalFont{
    font: italic 2em "Fira Sans", serif;
    color: white;
    text-align: center;
    width: 90%;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
}

.projects_background{
    height: auto;
    background: rgb(211, 211, 211, 0.6);
    border-radius: 20px;
}

@media (pointer:none), (pointer:coarse) {
    #projects{
        padding-top: 100px;
    }
    .projects_generalFont{
        font: italic 5vw "Fira Sans", serif;
    }

    .projects_projectName{
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 3.5vw;
        text-align: center;
    }
    .projects_projectImage{
        width: 30vw;
        height: auto;
    }

    .projects_projectDiv{
        height: 35vh;
        width: 40vw;
    }
    .projects_Video{
        height: 22.5vh;
    }
    
}
