#navbar_logo{
  border-radius: 100%;
  /* Ellipse 1 */

  position: absolute;
  width: 100px;
  height: 100px;
  left: 10px;
  top: 25px;

background: #404040;

}

.navbar {
/* Rectangle 1 */
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 150px;
  left: 0px;
  top: 0px;
  justify-content: space-between;
  background: #DCDCDC;

}
.navbar input{
    position: absolute;
    top: 15%;
    left: 0.75%;
    height: 100px;
    width: 100px;
    display: none;
  }
  /* We want all links in the navbar to be #e7e7e7 */
  .navbar a {
    color: #e7e7e7;
    
  }
  

  
  .navbar .brand {
    /*Let's make the anchor display block.
       This will ensure when we get the full width of the container.
    */
    border-radius: 100%;
    margin: auto;
   /* Remove padding from top/bottom and add 24px padding right/left */
   justify-items: left;
   float: left;
   padding-left: 1vw;
  }
.navbar_menu_items{
    /* Let's reset the margin and padding of the list so it's is flush. */
     width: 100vw;
     height: auto;  
     margin: auto;
     padding-left: 50px;
     /* Let's remove the bullet points */
     list-style-type: none;
     /* display the list flex and align the items centered */
     display: flex;
     justify-content: right;
}
.navbar_links{
/* Home button */
  margin-top: 50px;
  margin-right: 1px;
  background: black;
  border-radius: 50px;
}

#navbar_links_linkedin{
  /* Home button */
  margin-top: 50px;
  margin-right: 75px;
  background: #B80F0A;
  border-radius: 50px;
}

.navbar_font{
  /* Naeem Mannan */

  position: absolute;
  width: 239px;
  height: 62px;
  left: 120px;
  top: 44px;

  font: italic 1.5em "Fira Sans", serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  display: flex;
  align-items: center;
  text-align: center;

  color: black;
  margin: auto;
}
.navbar_font2{
  color: white;
  height: auto;
  margin: auto;
}
  .navbar .navbar_container{
    display: flex;
    
  }
  .navbar .navbar_profile_link{
    display: flex;
    text-align: left;
    margin-top: 0vh;
    
  }

  .navbar ul li a {
    color: black;
    padding: 24px;
    margin: auto;
    /*Let's make the anchor display block.
       This will ensure when we hover, focus, or is active we get the full width and height 
        of the container.
    */
    display: block;
  }
  
  /* When a user hovers, focuses or if the link is active change the background */
  .navbar ul a:hover,
  .navbar ul a:focus,
  .navbar ul .active {
    background-color: #272727;
  }

@media (max-width: 900px){
  #navbar_logo{
    height: 50px;
    aspect-ratio: 1/1;
    margin-top: 12px;
    margin-left: 12px;
  }
  
  a {
    text-decoration: none;
    font-size: 2.33em;
  }

  .navbar {
    background-color: #333333;
    display: flex;
    /* let's align the items so everything is nice and centered */
    position: fixed;
    justify-content: space-evenly;
    height: 75px;
    width: 100vw;
    z-index: 1;
  }

  .navbar .navbar_hamburgerlines{
    float: right;
  }
  /* We want all links in the navbar to be #e7e7e7 */
  .navbar a {
    color: black;
    
  }
  
  .navbar ul {
   /* Let's reset the margin and padding of the list so it's is flush. */

    margin: 10px ;
    padding: 10px;
    /* Let's remove the bullet points */
    list-style-type: none;
    /* display the list flex and align the items centered */
    display: flex;
    justify-content: right;
  }
  
  .navbar .brand {
    /*Let's make the anchor display block.
       This will ensure when we get the full width of the container.
    */
    border-radius: 100%;
    margin: auto;
   /* Remove padding from top/bottom and add 24px padding right/left */
   justify-items: left;
   float: left;
   padding-left: 1vw;
  }
  
.navbar_font{
    font: italic 0.5em "Fira Sans", serif;
    color: black;
    padding-left: 20px;
    padding-right: 20px;
  }

  .navbar .navbar_container{
    display: flex;
    
  }
  .navbar .navbar_profile_link{
    display: flex;
    text-align: left;
    margin-top: 0vh;
    
  }

  .navbar ul li a {
    color: black;
    padding: 24px;
    margin: auto;
    /*Let's make the anchor display block.
       This will ensure when we hover, focus, or is active we get the full width and height 
        of the container.
    */
    width: 100vw;
  }
  .navbar_hamburgerlines{
    display: flex;
    height: 23px;
    width: 35px;
    position: absolute;
    right: 5%;
    top: 30%;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .navbar .navbar_hamburgerlines .navbar_hamburgerline{
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: white;
  }

  .navbar-container .navbar_hamburgerline .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }

  .navbar-container .navbar_hamburgerline .line2 {
    transition: transform 0.2s ease-in-out;
  }

  .navbar-container .navbar_hamburgerline .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }

.navbar_menu_items{
  /* Home button */
  position: absolute;
  width: 100vw;
  height: 100%;  
}

  .navbar input[type="checkbox"] {
    position: absolute;
    display: block;
    height: 32px;
    width: 30px;
    top: 20%;
    right : 5%;
    z-index: 5;
    opacity: 0;
  }
  .navbar input[type="checkbox"],
  .navbar .navbar_hamburger-lines {
    display: block;
  }

  .navbar input[type="checkbox"]:checked ~ .navbar_menu_items {
    transform: translateX(-40%);
  }

  /* When a user hovers, focuses or if the link is active change the background */
  .navbar ul a:hover,
  .navbar ul a:focus,
  .navbar ul .active {
    background-color: #272727;
  }
}